<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PICT DEBSOC</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <link href="/assetsDEBSOC/img/logo.png" rel="icon"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assetsDEBSOC/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assetsDEBSOC/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assetsDEBSOC/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="assetsDEBSOC/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assetsDEBSOC/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assetsDEBSOC/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assetsDEBSOC/css/styles.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Rapid - v2.2.0
  * Template URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
  #call-to-action .quizToggle:hover{
  background-color: rgb(56, 56, 56);
  color: white;
}
.features li{
  max-height: fit-content;
  padding-bottom: 10px;      
}
  </style>
</head>

<body>

<!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index-2.html"></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="main-nav d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Our Committees</a></li>
          <li><a href="#call-to-action">Quiz Club</a></li>
          <li><a href="#features">Events</a></li>
          <li><a href="#team">Our Team</a></li>
		  <li><a href="#testimonials">Achievements</a></li>
          <li class="drop-down"><a>Navigate</a>
            <ul>
              <li><a href="/home">CC@PICT</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/art-circle">Art Circle</a></li>
            </ul>
          </li>
          <li><a href="#footer">Contact Us</a></li>
          <li><a href="">Admin Login</a></li>
        </ul>
      </nav><!-- .main-nav-->

    </div>
  </header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
  <div class="container d-flex h-100" data-aos="fade-in" data-aos-delay="500">
    <!-- <div class="logo-img">
      <img class="intro-img" src="assets/img/logo.png">
    </div> -->

    <div class="intro-info">
      <div class="logo-img">
        <img class="intro-img" src="assetsDEBSOC/img/logo.png">
      </div>
      <h4>The Official Debate Society Of PICT</h4>
      <h2>EXPRESS<br>YOURSELF</h2>
      <a href="#about" class="btn-get-started scrollto">EXPLORE</a>
    </div>

  </div>
</section><!-- End Hero-->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
	<!--
       <div class="row">
             <div class="jumbotron col-12" style="padding-top:20px;padding-bottom:20px;" data-aos="zoom-in" data-aos-delay="100">
              <h3>Objectives</h3>
			  <div class="mx-lg-5">
			  <div class="mx-lg-5">
			  <div class="mx-lg-5">
              <ul style="text-justify">
                <li class="text-justify"><p style="  text-align: justify; /* For Edge */ -moz-text-align-last: justify; /* For Firefox prior 58.0 */text-align-last: justify;">
			  To instill confidence for presenting one’s views on a given topic at a public platform.<span style="white-space: nowrap">
			  </span></p></li>
                <li class="text-justify"><p style="  text-align: justify; /* For Edge */ -moz-text-align-last: justify; /* For Firefox prior 58.0 */text-align-last: justify;">
              To provide a significant training ground for the development of students’ communication abilities.<span style="white-space: nowrap"></span>
			  </p></li>
                <li class="text-justify"><div class="d-lg-none d-block"> <p style="text-align: justify; /* For Edge */ -moz-text-align-last: justify; /* For Firefox prior 58.0 */text-align-last: justify;"> To provide a platform for students to understand and communicate various forms or
              arguments effectively in a variety of contexts.</p></div><div class="d-lg-block d-none"><p style="text-align: justify; /* For Edge */ -moz-text-align-last: justify; /* For Firefox prior 58.0 */text-align-last: justify;">To provide a platform for students to understand and communicate various forms or
              arguments</p><p style="margin-top:-2vh;"> effectively in a variety of contexts. </p></div></li>
                <li class="text-justify"><p style="text-align: justify; /* For Edge */ -moz-text-align-last: justify; /* For Firefox prior 58.0 */text-align-last: justify;">
			  To refine colloquial and written forms of communication.<span style="white-space: nowrap"></span>
			  </p></li>
                <li class="text-justify"><p style="  text-align: justify; /* For Edge */ -moz-text-align-last: justify; /* For Firefox prior 58.0 */text-align-last: justify;">
              To generate effective critical thinking about primary issues in a given topic.<span style="white-space: nowrap"></span>
			  </p></li>
              </ul>
			  </div>
			  </div>
			  </div>
          </div>
      </div>  
	  -->
	  <div class="row">
             <div class="jumbotron col-12" style="padding-top:20px;padding-bottom:20px;" data-aos="zoom-in" data-aos-delay="100">
              <h3><b>OBJECTIVES</b></h3>
			  <div class="mx-lg-5">
              <ul style="text-justify">
			                  <li class="text-justify" style="font-size:18px;">
			  To refine colloquial and written forms of communication.</li>
                <li class="text-justify" style="font-size:18px;">
              To generate effective critical thinking about primary issues in a given topic.
			 </li>
                <li class="text-justify" style="font-size:18px;"> To instill confidence for presenting a person’s views on a given topic at a public platform.</li>
                <li class="text-justify" style="font-size:18px;">
              To provide a significant training ground for the development of students’ communication abilities.
			  </li>
                <li class="text-justify" style="font-size:18px;"> To provide a platform for students to understand and communicate various forms or arguments effectively in a variety of contexts.</li>
              </ul>
			  </div>
          </div>
      </div>  
                <!-- </div> -->

          <div class="about-content" style="padding-top:0px;" data-aos="fade-up" data-aos-delay="100">
            <h2>ABOUT US</h2>
            <div class="tagline" style="font-size:20px;">Express your opinions through <b class="changing-text"></b></div>
            <p style="font-size:18px;">PICT DEBSOC is a community that develops and nurtures public speaking skills and a variety of 
              soft skills which are essential in today’s world. The modern world requires people to not only 
              be technically proficient in their work but also be outspoken leaders who can initiate a change. 
              We ensure that students improve their oratory skills by giving them a platform where they can voice their opinions and build their confidence. </p>
            <ul style="font-size:18px;">
              <li><i class="ion-android-checkmark-circle" ></i> Do you want to be a great leader?</li>
              <li><i class="ion-android-checkmark-circle"></i> Do you want to ace your placement interviews?</li>
              <li><i class="ion-android-checkmark-circle"></i> Do you want to be an effective communicator and team player?</li>
            </ul>
            <p style="font-size:18px;">PICT DEBSOC is the place to learn it all.</p>
            
          </div>


    </div>

  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>OUR COMMITTEES</h3>
        <p>We believe in teamwork for achieving our collective objectives.</p>
      </header>

      <div class="row">

        <div class="col-lg-6 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <!-- <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div> -->
            <h3 class="title"><a href="">Internal Affairs Committee</a></h3>
            <p class="description text-justify" style="font-size:18px;">The Internal Affairs Committee(or IAC) is responsible for handling the internal operations of the club.
               It also organizes a range of intra-club competitions for our members and ensures active participation
               from everyone.</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <!-- <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div> -->
            <h3 class="title"><a href="">External Affairs Committee</a></h3>
            <p class="description text-justify" style="font-size:18px;">The External Affairs Committee(or EAC) organizes and manages various intra-college as well as inter-college activities. 
              It also collaborates with the debate societies of other colleges and hosts numerous events.</p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <!-- <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div> -->
            <h3 class="title"><a href="">Content Team</a></h3>
            <p class="description text-justify" style="font-size:18px;">The DEBSOC Content Team is group of like-minded people who are enthusiastic about writing and literature.
               The Content team writes content on various current issues or special occasions which is also posted on our social media handles. <br></p>
          </div>
        </div>
        <div class="col-lg-6 wow" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <!-- <div class="icon" style="background: #eafde7;"><i class="ion-ios-brush-outline" style="color:#41cf2e;"></i></div> -->
            <h3 class="title"><a href="">Design Team</a></h3>
            <p class="description text-justify" style="font-size:18px;">The DEBSOC Design Team is a group of enthusiastic artists who create beautiful posters and 
              illustrations for all of our events and social media posts.</p>
          </div>
        </div>
    </div>

    </div>
  </section><!-- End Services Section -->

  
  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">QUIZ CLUB</h3>
          <p class="cta-text">The Quiz Club is a group of like-minded enthusiasts who organize quiz competitions
            and represent the college at different quizzing events.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Registrations open!</a>
        </div>
      </div>

    </div>
	    <button onclick="toggleDownQuiz()" class="btn quizToggle" id="toggleDownQuiz">PAST ACHIEVEMENTS</button>
      <div class="container" id="qclub-achievements" data-aos="zoom-out">
        <h4><b>Achievements</b></h4>
             <table id="qclub-table" class="table table-light table-sm table-responsive table-striped">
          <tr>
            <th>
              Date
            </th>
            <th>
              Event Name
            </th>
            <th>
              Winners
            </th>
            <th>
              Position
            </th>
          </tr>

          <tr>
            <td>
              25/02/2017
            </td>
            <td>
              AFMC Silhouttes quiz
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              Third
            </td>
          </tr>
          <tr>
            <td>
              23/02/2017
            </td>
            <td>
              Sambhav's Questionnable
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              Second
            </td>
          </tr>
          <tr>
            <td>
              29/01/2017
            </td>
            <td>
              Zest 17Sports quiz COEP
            </td>
            <td>
              Ankit Choudhury 
            </td>
            <td>
              First
            </td>
          </tr>
          <tr>
            <td>
              14/01/2017
            </td>
            <td>
              BMCC Troika quiz
            </td>
            <td>
              Charles Mathew
            </td>
            <td>
              First
            </td>
          </tr>
          <tr>
            <td>
              13/01/2017
            </td>
            <td>
              Praxis Business school Kolkata
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              Second
            </td>
          </tr>
          <tr>
            <td>
              13/01/2017
            </td>
            <td>
              Kolkata Quiz Festival
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              Semi Finalists
            </td>
          </tr>

          <tr>
            <td>
              08/12/2016
            </td>
            <td>
              Sweden India Nobel memorial Quiz
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary, Charles Mathew
            </td>
            <td>
              Runners up
            </td>
          </tr>
          <tr>
            <td>
              12/10/2016
            </td>
            <td>
              Impression quiz COEP
            </td>
            <td>
              Charles Mathew
            </td>
            <td>
              First
            </td>
          </tr>
          <tr>
            <td>
              12/07/2016
            </td>
            <td>
              INTACH heritage India Quiz
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              Runners up
            </td>
          </tr>
          <tr>
            <td>
              11/06/2016
            </td>
            <td>
              Tides of Time Quiz Bits Goa
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              First
            </td>
          </tr>
          <tr>
            <td>
              11/05/2016
            </td>
            <td>
              Wipro Sustainability Quiz Bits Goa
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              Second
            </td>
          </tr>         
          <tr>
            <td>
              11/04/2016
            </td>
            <td>
              Vices Quiz ,Bits Goa
            </td>
            <td>
              Aniket Choudhary, Anurag Choudhary
            </td>
            <td>
              First
            </td>
          </tr>
          <tr>
            <td>
              09/03/2016
            </td>
            <td>
              ILS Law Quiz
            </td>
            <td>
              Anurag Choudhary 
            </td>
            <td>
              Third
            </td>
          </tr>

        </table>
        </div>
      <button onclick="toggleUpQuiz()" class="btn quizToggle" id="toggleUpQuiz">SHOW LESS</button>


  </section><!--  End Call To Action Section -->

  

     <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <header class="section-header">
          <h3>EVENTS</h3>
        </header>

        <ul class="nav nav-tabs row d-flex mt-5">
          <li class="nav-item col-4" data-aos="zoom-in">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Debate</h4>
              <h6 class="d-block d-lg-none">Debate</h6>
            </a>
          </li>
          <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Group discussion</h4>
              <h6 class="d-block d-lg-none">Group discussion</h6>
            </a>
          </li>
          <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Extempore</h4>
              <h6 class="d-block d-lg-none">Extempore</h6>
            </a>
          </li>
          <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Content Writing</h4>
              <h6 class="d-block d-lg-none">Content Writing</h6>
            </a>
          </li>
          <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-5">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Open Mic</h4>
              <h6 class="d-block d-lg-none">Open Mic</h6>
            </a>
          </li>
          <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-6">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Distinguished Speaker Program</h4>
              <h6 class="d-block d-lg-none">Distinguished Speaker<br/> Program</h6>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>"It is better to debate a question without settling it than to settle a question without debating it."<br> ―Joseph Joubert</h3>
                <p>
                  
  Debating and putting forth your opinions confidently is the primary skill that we aim to develop at PICT DEBSOC. Debates are crucial to reach a conclusion in situations 
  where there are two oppsosing points of views on a particular topic. Debates are regulary organized for the club members to polish their skills.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assetsDEBSOC/img/ol_debate.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>“Discussion can solve problems that guns and pills cannot.”
                  <br>― Abhijit Naskar</h3>
                <p>
                  Collaboration and discussion is crucial to the progress of any team, organization or society. Group discussions provide a conducive environment for thinking, brainstorming and
                  and finding creative solutions to problems. They also serve as good preparation for campus interviews.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assetsDEBSOC/img/gd.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>“You can speak well if your tongue can deliver the message of your heart.” <br>―John Ford  </h3>
                <p>
                  Speaking alone in front of an audience is many people's worst nightmare. Here at PICT DEBSOC, though, we practice this skill through 
                  extempore speeches on a wide range of topics. There is no better way to conquer one's fear of public speaking than through extempores. <br> 
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assetsDEBSOC/img/audience.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>"A word after a word after a word is power."
                  <br>―Margaret Atwood</h3>
                <p>
                  PICT DebSoc conducted <b>SCRIBBLE IT DOWN</b>, an online content writing
                  competition, where the participants were required to write on the topic “Happiness”.
                  The content allowed articles or poems but all under a 150-word limit. The week-long
                  competition (26th July to 1st August) was open for all and received an overwhelming
                  response with a total of 119 participants.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assetsDEBSOC/img/SID.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Unleash the power of the microphone</h3>
                <p>
                  The <b>Open Mic</b> is a major event that is organized every year for students to showcase their skills in front of their
                  peers. Whether through speech, poetry, music or art, the event is aimed at inspiring individuals to break the ice and express themselves freely. This year the Open Mic was held
                  online(23rd and 24th July) on the topic 'Identity: the art that defines you'.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assetsDEBSOC/img/open_mic.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-6">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>“People will forget what you said, people will forget what you did, but people will never forget how you made them feel.”
                  <br>– Maya Angelou</h3>
                <p>
                 Great speakers inspire action and shape young minds to become future leaders. DSP is an initiative by PICT DEBSOC, where we invite eminent
                  speakers and masters in the field of public speaking to share their knowledge and experiences exclusively with the staff and students of PICT. 

                 We had Mr. Divas Gupta, India's First IKIGAI coach and an IIM alumnus for the very first DSP session organized by PICT DEBSOC on 9th January 2021
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assetsDEBSOC/img/divas-gupta.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->



  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3>OUR TEAM</h3>
        <p>We have a dedicated team of <b>130+</b> members.</p>
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="assetsDEBSOC/img/Arnav_Deshmukh.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>ARNAV DESHMUKH</h4>
                <span>President</span>
                <div class="social">
                  <a target="_blank" href="https://www.linkedin.com/in/arnav-deshmukh/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="assetsDEBSOC/img/Sarita_PRO-2.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>SARITA JOSHI</h4>
                <span>Public Relations Officer</span>
                <div class="social">
                  <a target="_blank" href="https://www.linkedin.com/in/sarita-joshi/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="assetsDEBSOC/img/Medhavi_Secretary.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>MEDHAVI PANDE</h4>
                <span>Secretary</span>
                <div class="social">
                  <a target="_blank" href="https://www.linkedin.com/in/medhavi-pande-051a06193/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  <button onClick = "toggleDown()" id="toggleDown" class="btn toggle">SHOW ALL</button>
  <div class="container" id="full-team" data-aos="fade-up">
    <h4>Founder Members</h4>
    
    <div class="row">
      <div class="col-lg-4">
        <h5><i class="fa fa-circle bullet"></i> APOORVA MAHESHWARI</h5>
      </div>
      <div class="col-lg-4">
        <h5><i class="fa fa-circle bullet"></i> ERAVATEE RAJE</h5>
      </div>
      <div class="col-lg-4">
        <h5><i class="fa fa-circle bullet"></i> SHRINIWAS NAYAK</h5>
      </div>
    </ul>
    </div>

    <table id="team-table" class="table table-sm table-responsive table-striped">
      <h4>All Members</h4>
      <tbody>
        <tr>
          <td>AABHA SHAILESH PINGLE</td>
          <td>AADITI NIRFARAKE</td>
          <td>ABHISHEK BORA</td>
          <td>ABHISHEK LANDE</td>
          <td>ADITYA HEMANT WANJALE</td>
          <td>ADITYA MANDKE</td>
        </tr>
        <tr>
          <td>ADITYA KHANDELWAL</td>
          <td>AISHWARYA ALAMAD</td>
          <td>AISHWARYA DIXIT</td>
          <td>AKASH KULKARNI</td>
          <td>AKHILESH MURUGKAR</td>
          <td>AKSHIT MADAN</td>
        </tr>
        <tr>
          <td>AMARTYA SURVE</td>
          <td>AMEYA BHATTAD</td>
          <td>ANAGH MIRJI</td>
          <td>ANEESH BERDE</td>
          <td>ANUJ JAIN</td>
          <td>ANUPAM PATIL</td>
        </tr>
        <tr>
          <td>APURVA</td>
          <td>ARNAV DESHMUKH</td>
          <td>ASHUTOSH THITE</td>
          <td>ATHARVA JADHAV</td>
          <td>ATHARVA NAPHADE</td>
          <td>ATHARVA PURANIK</td>
        </tr>
        <tr>
          <td>ATHARVA SANJAY JAINAK</td>
          <td>ATHARV SARDESAI</td>
          <td>BHAVANA BAFNA</td>
          <td>CHAITRALEE DATAR</td>
          <td>DEEP AVINASH THOMBARE</td>
          <td>DEVANGINI SHINDE</td>
        </tr>
        <tr>
          <td>DHANANJAY</td>
          <td>DHAVAL GUNDECHA</td>
          <td>DISHITAA MAHALE</td>
          <td>GANESH RAHUL MEHTA</td>
          <td>GARGI MATEKAR</td>
          <td>GAURAV CHANDRASHEKHAR SHINDE</td>
        </tr>
        <tr>
          <td>GAURAV KOLHATKAR</td>
          <td>GAURI TAKAWANE</td>
          <td>HARSH THAKKAR</td>
          <td>HARSHIL SHAH</td>
          <td>HIMANSHU SHAH</td>
          <td>HIMANSHU SONAWANE</td>
        </tr>
        <tr>
          <td>HRUSHIKESH MALSHIKARE</td>
          <td>ISHA AJAY BHALEREAO</td>
          <td>JANHAVI KOLTE</td>
          <td>JANVI SANTANI</td>
          <td>JAYANT KHANDEBHARAD</td>
          <td>JAYKUMAR CHANDAK</td>
        </tr>
        <tr>
          <td>KARAN LAKHWANI</td>
          <td>KARTHIK M PANICKER</td>
          <td>KARTIK SUNIL MORE</td>
          <td>KSHITIJ DESHPANDE</td>
          <td>KUMAR DESHMUKH</td>
          <td>MADHURA HEMANT DATKHILE</td>
        </tr>
        <tr>
          <td>MANAV MAJITHIA</td>
          <td>MEDHAVI PANDE</td>
          <td>MEGHA DANDAPAT</td>
          <td>MIHIR GUJARATHI</td>
          <td>MIHIR KUMAR</td>
          <td>MIHIR RANADE</td>
        </tr>
        <tr>
          <td>MOHINI</td>
          <td>MONIKA PRIYADARSHINI</td>
          <td>MUSKAAN SHRAOGI</td>
          <td>NAVIN BHANDARI</td>
          <td>NEHA SHAHANBHAG</td>
          <td>NIDHI JANARDAN KOWTAL</td>
        </tr>
        <tr>
          <td>NISHANT KHALADKAR</td>
          <td>NUPUR GODSE</td>
          <td>OJAS KUND</td>
          <td>OM</td>
          <td>OM NANDKISHOR MAPARI</td>
          <td>ONKAR VISHNU SAUDAGAR</td>
        </tr>
        <tr>
          <td>PARAM CHORDIYA</td>
          <td>PARNIKA PITALE</td>
          <td>PRANAV SHRISH BHAGWAT</td>
          <td>PRATIK PRAKASH MATHE</td>
          <td>PRATYUSH</td>
          <td>PRERNA RATHI</td>
        </tr>
        <tr>
          <td>PRIYAL BELGAMWAR</td>
          <td>PRIYANKA DIPAK BAGAVE</td>
          <td>PUSHKAR JAIN</td>
          <td>RAHUL RAJESH TANGSALI</td>
          <td>RAUNAK KHANDELWAL</td>
          <td>RAVI KUMAR VERMA</td>
        </tr>
        <tr>
          <td>RHUTVIJ PRAVIN CHIPLUNKAR</td>
          <td>ROHIT JAMES</td>
          <td>RUSHIKESH PALLOD</td>
          <td>RUSHIKESH SANJAY PANDE</td>
          <td>RUSHIKESH SHIVAJI CHAVAN</td>
          <td>RUTWIK ANIL SARAF</td>
        </tr>
        <tr>
          <td>SAACHI BANG</td>
          <td>SAKSHI AMRUTKAR</td>
          <td>SAKSHI W</td>
          <td>SANCHIT KALSI</td>
          <td>SANYAM CHHORIYA</td>
          <td>SARANG AGRAWAL</td>
        </tr>
        <tr>
          <td>SARITA JOSHI</td>
          <td>SAYALI NIKAM</td>
          <td>SHALAKA ALKUTE</td>
          <td>SHILOTEJ ARUN MIRAJKAR</td>
          <td>SHIVAM SHARMA</td>
          <td>SHIVENDRA BHONSLE</td>
        </tr>
        <tr>
          <td>SHRADDHA KOKATE</td>
          <td>SHREYASH SHINKAR</td>
          <td>SHUBHAM TAK</td>
          <td>SMEET RAMTEKE</td>
          <td>SNEHA SANJAY PATIL</td>
          <td>SONAL RAO</td>
        </tr>
        <tr>
          <td>SRUSHTI CHANDAK</td>
          <td>SUMEDH KHAROLKAR</td>
          <td>SUNAND GOEL</td>
          <td>TAMBE RUSHIKESH CHANGDEV</td>
          <td>TANAYA HARISH CHAUDHARI</td>
          <td>TANUSRI BHOWMICK</td>
        </tr>
        <tr>
          <td>TANVI MANE</td>
          <td>TEJAS LIPARE</td>
          <td>TUSHULI PATIL</td>
          <td>VAISHNAVI BHUJBAL</td>
          <td>VED BHATAWADEKAR</td>
          <td>VEDANT DAIGNAVE</td>
        </tr>
        <tr>
          <td>VEDANT DESHPANDE</td>
          <td>VEDANT KULKARNI</td>
          <td>VEDANT ULLHAS MISAL</td>
          <td>VINAYA SABALE</td>
          <td>VIREN PAREKH</td>
          <td>YASH PATWARDHAN</td>
        </tr>
        <tr>
          <td>YASH PAWAR</td>
          <td>YASH RAJPUT</td>
          <td>YASH SANJAY SARODE</td>
          <td>YASHODEEP SHELAR</td>
          <td>YUGANDHAR HUJARE</td>
          <td>ZEEL PATEL</td>
        </tr>
        <tr>
          <td colspan="6" class=""><div class="d-none d-sm-block"><div class="d-flex justify-content-center"><a href="https://www.linkedin.com/in/heramb-joshi-33b532149" style="color:#0088ff;text-decoration:none;">HERAMB UDAY JOSHI</a> &nbsp;&nbsp; (WEBSITE MENTOR)</div></div>
		  <div class="d-block d-sm-none"><a href="https://www.linkedin.com/in/heramb-joshi-33b532149" style="color:#0088ff;text-decoration:none;">HERAMB UDAY JOSHI</a> &nbsp;&nbsp; (WEBSITE MENTOR)</div></td>
        </tr>
      </tbody>
    </table>
  </div>

    <button onClick = "toggleUp()" id="toggleUp" class="btn toggle">SHOW LESS</button>
  </section><!-- End Team Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">
    
          <header class="section-header">
            <h3 style="color: white;">ACHIEVEMENTS</h3>
          </header>
    
<!--           <div class="row justify-content-center">
            <div class="col-lg-8">
    
              <div class="owl-carousel testimonials-carousel">
    
                <div class="testimonial-item">
                  <h3>Gurushala Debate</h3>
                  <p>
                      Gurushala had organized a Debate Hour and had invited PICT DEBSOC to debate on the topic :
                      "Should Activities like Dance be part of the curriculum". The following members of PICT DEBSOC participated 
                      in this DEBATE Hour representing PICT DEBSOC and are awarded the Certificate of Appreciation :   
                      <br>
                      <ol>
                      <li>Aishwarya Alamad</li> 
                      <li>Arnav Deshmukh</li> 
                      <li>Ashutosh Thite</li> 
                      <li>Harsh Thakkar</li> 
                      <li>Onkar Saudagar</li> 
                      <li>Rashi Khandelwal</li> 
                      <li>Rushi Pallod</li> 
                      <li>Sanyam Chhoriya</li> 
                      <li>Shraddha Kokate</li> 
                      <li>Tanvi Mane</li>
                      </ol>
                    </p>
                  
                </div>
    
                <div class="testimonial-item">
                  <h3>PICT MUN Debate</h3>
                  <p style="text-align: center;">
                   Sakshi Amrutkar bagged the Second Runner Up award
                  </p>
                </div>
    
              </div> -->
     <table id="qclub-table" class="table table-light table-sm table-responsive table-striped">
            <tr>
              <th>
                Date
              </th>
              <th>
                Event Name
              </th>
              <th>
                Winners
              </th>
              <th>
                Position
              </th>
            </tr>
            <tr>
              <td>
                9/11/2020
              </td>
              <td>Gurushala Debate</td>
              <td>
                <ul>
                  <li>Aishwarya Alamad</li> 
                  <li>Arnav Deshmukh</li> 
                  <li>Ashutosh Thite</li> 
                  <li>Harsh Thakkar</li> 
                  <li>Onkar Saudagar</li> 
                  <li>Rashi Khandelwal</li> 
                  <li>Rushi Pallod</li> 
                  <li>Sanyam Chhoriya</li> 
                  <li>Shraddha Kokate</li> 
                  <li>Tanvi Mane</li>
                  </ul>
              </td>
              <td>
                Participation
              </td>
            </tr>
            <tr>
              <td>
                15/11/2020
              </td>
              <td>VIT Hard Talk</td>
              <td>
                <ul>
                <li>Srushti Chandak</li>
                <li>Rahul Tangsali</li>
                <li>Sanyam Chhoriya</li>
                <li>Rohit James</li>
                </ul>
              </td>
              <td>
                Made it to the second round
              </td>
            </tr>
            <tr>
              <td>
                18/11/2020
              </td>
              <td>PICT MUN Debate</td>
              <td>
                Sakshi Amrutkar
              </td>
              <td>
                Second Runner Up
              </td>
            </tr>

            <tr>
              <td>
                16/12/2020
              </td>
              <td>COEP - alfaaz-e-bayaan
              </td>
              <td>
                Srushti Chandak
              </td>
              <td>
                Top 12
              </td>
            </tr>
            <tr>
              <td>
                30/1/2021
              </td>
              <td>KJ Somaiya Debate Competition
              </td>
              <td>
                <ul>
                  <li>
                    Sakshi Amrutkar
                  </li>
                  <li>
                    Pranav Bhagwat
                  </li>
                </ul>
              </td>
              <td>
                Reached Octofinals
              </td>
            </tr>
            <tr>
              <td>
                31/1/2021
              </td>
              <td>Tech Vivad
              </td>
              <td>
                Rutwik Saraf
              </td>
              <td>
                Made it to the second round
              </td>
            </tr>
          </table>
            </div>
          </div>
    
        </div>
      </section> <!-- End Testimonials Section -->
    

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

            <div class="row">

              <div class="col-sm-4">

                <div class="footer-info">
                  <h3>PICT DEBSOC</h3>
                  <p>The Official Debate Society Of PICT</p>
                  <div class="footer-feedback">
                    <h4>Do you have any queries/ feedback for us?</h4><a href="/contact">
                    <button class="btn btn-light">Yes</button></a>
                  </div>
                </div>

              </div>

              <div class="col-sm-4">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#services">Our Committees</a></li>
                    <li><a href="#call-to-action">Quiz Club</a></li>
                    <li><a href="#team">Our Team</a></li>
                    <li><a href="#testimonials">Events</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                      
                    Survey No. 27, Near, Trimurti Chowk, <br>
                    Bharati Vidyapeeth Campus, Dhankawadi,<br>
                    Pune, Maharashtra 411043 <br>
                    <strong>Email:</strong> debsoc.pict@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a target="_blank" href="https://twitter.com/pict_debsoc?s=09" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" href="https://www.instagram.com/debsoc_pict/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/company/pict-debsoc/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>
            <div class="credits">Designed by DEBSOC Web Team</div>
      </div>

    </div>


        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assetsDEBSOC/vendor/jquery/jquery.min.js"></script>
  <script src="assetsDEBSOC/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assetsDEBSOC/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assetsDEBSOC/vendor/php-email-form/validate.js"></script>
  <script src="assetsDEBSOC/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assetsDEBSOC/vendor/counterup/counterup.min.js"></script>
  <script src="assetsDEBSOC/vendor/venobox/venobox.min.js"></script>
  <script src="assetsDEBSOC/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assetsDEBSOC/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assetsDEBSOC/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assetsDEBSOC/js/main.js"></script>
</body>
